.chat {
  flex: 1.7;
}

.chat__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e8e8e8;
}

.chat__headerLeft {
  display: flex;
  align-items: center;
  margin: 10px;
}

.chat__headerLeft > .MuiSvgIcon-root {
  font-size: 17px;
  margin-left: 5px;
}

.chat__headerRight {
  margin: 10px;
  display: flex;
  align-items: center;
}

.chat__headerRight > .MuiSvgIcon-root {
  font-size: 17px;
  margin-right: 10px;
}
